:root {
  --base: hotpink;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 800px;
  height: 500px;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: black;
  color: white;
  font-family: monospace;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
